/*This styling is for the heading component of Tagged
Colours are listed :
logo blue = #007DF1
Ice blue = #D3E6F7
Navy = #000C4D
*/

*
{
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

/*CSS for sections that appear more than once in the page*/
p
{
	font-size: 12pt;
	color: #000000;
}

.container
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
    min-width: 310px;
}

/*  Header spans the full width of the window adding a Logo Blue */
.appWrapper
{
	display: flex;
    flex-direction: column;
	justify-content: center;
}

/*Head_bar pushes the logo_panel and Auth_panel divs apart
A 2.5% gap each side reduces accidental softkey presses for mobile viewers*/
.headBar
{
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	max-width: 100%;
	width: 980px;
	height: 110px;
	background-color: #007DF1;
}

/*Controls Auto Scaling and placement of Tagged Logo*/
.logoPanel
{
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(211, 230, 247);
	flex-basis: 81%;
	margin-right: 5px;
    height: 110px;
    min-width: 120px;
}

.tagLogo
{
	max-width: 178px;
    max-height: 80px;
	width: 80%;
    min-width: 45px;
    min-height: 20px;
}

/*Controls styling of the Auth_panel*/
.authPanel
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(211, 230, 247);
    min-width: 185px;
}

.authForm
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
    line-height: 100%;
}

.formTitle
{
	font-weight: bold;
    font-size: 1em;
	height: 1em;
	line-height: 0.7em;
	text-align: center;
	width: 100%;
}

.logFormInput
{
	box-sizing: border-box;
    font-size: 0.8em;
    line-height: 1.1em;
    height: 100%;
	margin: 2px 0px;
	color: rgba(0, 0, 0, 1);
}

.authForm > input
{
    text-align: center;
    line-height: 100%;
    height: 1.4em;
	width: 100%;
}

.formBtns
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.formBtns > button
{
	background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	height: 1.6em;
	line-height: 0.4em;
	font-size: 0.8em;
	width: 45%;
	border: solid;
	border-color: rgba(67, 138, 201, 0.25);
	border-width: 1px;
	border-radius: 0.25em;
	cursor: pointer;
}

.formBtns > button:hover
{
	background: rgba(67, 138, 201, 1);
	color: rgba(255, 255, 255, 1);
}

.inputError
{
	color: rgba(255, 0, 0, 1);
    font-size: 0.59em;
    height: 1em;
}

.menuPanel
{
    display: flex;
}
