/*This styling is for the heading component of Tagged
Colours are listed :
logo blue = #007DF1
Ice blue = rgb(180, 213, 242)
Navy = #000C4D
*/

*
{
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

p
{
	font-size: 12pt;
	color: #000000;
}

body
{
    background-color: #000C4D;
}

/*.container
{

}

.appWrapper
{

}
*/

.panelSpacer
{
    width: 3px;
    display: flex;
    height: 90%;
    flex-shrink: 0;
    align-self: center;
    background-color: #007DF1;
}
