/*This styling is for the heading component of Tagged
Colours are listed :
logo blue = #007DF1
Ice blue = #D3E6F7
Navy = #000C4D
*/

*
{
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

/*CSS for sections that appear more than once in the page*/
p
{
	font-size: 12pt;
	color: #000000;
}

.container
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
    min-width: 310px;
}

/*  Header spans the full width of the window adding a Logo Blue */
.appWrapper
{
	display: flex;
    flex-direction: column;
	justify-content: center;
    width: 100%;
}

/*Head_bar pushes the logo_panel and Auth_panel divs apart
A 2.5% gap each side reduces accidental softkey presses for mobile viewers*/
.headingWrapper
{
	display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    background-color: #007DF1;
}

.heading
{
    display: flex;
    flex-direction: row;
    background: rgb(211, 230, 247);
    max-width: 100%;
    width: 979px;
    height: 110px;
    padding: 5px 0px;
}

/*Controls Auto Scaling and placement of Tagged Logo*/
.logoPanel
{
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(211, 230, 247);
	flex-basis: 81%;
	/*margin-right: 5px;*/
    height: 110px;
    min-width: 120px;
}

.tagLogo
{
	max-width: 178px;
    max-height: 80px;
	width: 80%;
    min-width: 45px;
    min-height: 20px;
}
