/*This styling is for the heading component of Tagged

Colours are listed :
logo blue = #007DF1
Ice blue = #D3E6F7
Navy = #000C4D

Header spans the full width of the window adding a Logo Blue */
.header
{
	display: flex;
	justify-content: center;
	background-color: #007DF1;
}

/*Head_bar pushes the logo_panel and login_panel divs apart
A 2.5% gap each side reduces accidental softkey presses for mobile viewers*/
.headBar
{
	display: flex;
	justify-content: space-between;
	max-width: 95%;
	width: 980px;
	height: 100px;
}

/*Controls Auto Scaling and placement of Tagged Logo*/
.logoPanel
{
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(211, 230, 247);
	flex-basis: 81%;
	margin-right: 5px;
}

.tagLogo
{
	max-height: 80px;
	max-width: 177.717px;
	width: 80%;
}

/*Controls styling of the login_panel*/
.loginPanel
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(211, 230, 247);
	min-width: 150px;
}

.authForm
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 92%;
}

.formTitle
{
	font-weight: bold;
	height: 1em;
	line-height: 0.7em;
	text-align: center;
	width: 100%;
}

.logFormInput
{
	box-sizing: border-box;
	margin: 2px 0px;
}

.authForm > input
{
	text-align: center;
	width: 100%;
}

.formBtns
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.formBtns > button
{
	background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	height: 1.6em;
	line-height: 0.4em;
	font-size: 0.8em;
	width: 45%;
	border: solid;
	border-color: rgba(67, 138, 201, 0.25);
	border-width: 1px;
	border-radius: 0.25em;
	cursor: pointer;
}

.formBtns > button:hover
{
	background: rgba(67, 138, 201, 1);
	color: rgba(255, 255, 255, 1);
}
