/*
This styling is for the heading component of Tagged
Colours are listed :
logo blue = #007DF1
Sky blue = rgb(180, 213, 242)
Navy = #000C4D
Ice Blue = rgba(236, 248, 255, 1)
*/

.homeBodyView
{
    position: absolute;
    top: 160px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeBodyDisplay
{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 979px;
    height: 100%;
    background-color: #FFFFFF;
}

.homeBodyDisplay > h1
{
    margin: 5px 10px 0px 10px;
}

.homeBodyDisplay > p
{
    margin: 5px 10px 0px 10px;
}
